<html>
<head>
    <title>Address Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" charset="utf-8">
</head>
<body>
    <h1>Address Book</h1>


    <form action='/create_contacts' method='post'>
        <label for='name'> Enter Name:</label>
        <input id='name' name='name' type='text'>
        <br>
        <br>
        <label for='phone'> Enter Phone #:</label>
        <input id='phone' name='phone' type='text'><br>

        <button type='submit'>Submit</button>
    </form>
    <br>
    <form action='/delete_contacts' method='post'>
        <button type='submit'>Clear</button>
    </form>

    {% if contacts is not empty %}
        <p>Here are all your contacts:</p>
        <ul>
            {% for contact in contacts %}
                <li>{{ contact.getName }}</li>
                <li>{{ contact.getPhone }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
