<html>
<head>
    <title>Address Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" charset="utf-8">
</head>
<body>
    <h1>You created a contact!</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhone }}</p>
    <p><a href='/'>View your contacts.</a></p>
</body>
</html>
